.sort-visualizer
  position: absolute
  display: flex
  justify-content: center
  align-items: flex-end
  bottom: 0px
  width: 100%
  z-index: -100
  div
    width: 10px
    margin: 0 1.5px

.dropdown-menu
  background-color: #017aff
  button
    display: block
    margin: auto
    width: 100%
    border-radius: 0

// .btn-toolbar
//   display: flex
.slider
  margin-top: 20px
  color: #fff
  width: 200px
  p
    position: absolute
    top: -10px

.rc-slider-handle
  width: 20px
  height: 20px
